# Arquivos de compilação C# #
bin/
obj/

# Arquivos temporários gerados por Visual Studio #
.vs/

# Arquivos de compilação Angular #
/dist/
/node_modules/

# Arquivos de configuração de ambiente #
.env

# Arquivos de dependências de pacotes #
*.lock
npm-debug.log
yarn-debug.log
yarn-error.log

# Outros arquivos gerados pelo sistema operacional ou IDE #
.DS_Store
Thumbs.db

# Arquivos específicos do Angular CLI #
.angular-cli.json
.angular.json
*.ng-xi18n
